* {
font-family: 'Averia Sans Libre', cursive;
color: white;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  background-color: #ab21d1;
}

header {
  margin: 0 auto;
  background-color: #000000;
  font-size: 23px;
}

section {
  line-height: 100%;
  font-size: 40px;
  font-weight: bold;
  border-left: 20px solid white;
  width: 45%;
  margin: 40px 50px 40px 120px;
  padding-left: 10px;
}

.video {
  padding-left: 40px;
  margin-bottom: 50px;
}


.button {
  background-color: #000000;
  color: #ab21d1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  list-style: none;
  margin: 10px 20px 10px 10px;
  width: 90%;
  float: inherit;
}


.button > li {
  display: inline-block;
  padding: 7px 0px 0px 2.5%;
  font-size: 23px;
  margin: 0px -5px 0px -5px;
}

.button > li > a{
  text-decoration: none;
  color: #ab21d1;
}

.button > li > a:hover {
  color: white;
}

ul {
    list-style-type: none;
    margin-left: 50px;
    overflow: hidden;
}


li a, .dropbtn {
    display: inline-block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color:#ab21d1}

.dropdown:hover .dropdown-content {
    display: block;
}

.mySlides {
  display: none
}

img {
  vertical-align: middle;
  padding-left: 0px;
}

.slideshow {
  max-width: 2000px;
  position: relative;
  margin-left: 0px;
  padding-left: 0px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 23px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.video {
  position: relative;
  margin-left: 80px;
  margin-bottom: 50px;
}

div.polaroid {
  border-radius: 15%;
  width: 29.3%;
  display: inline-block;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 35px;
  margin-top: 5px;
  margin-right: 20px;

}

div.container {
  color: #ab21d1;
  text-align: center;
  padding: 10px 20px;
}

footer {
  clear: both;
  text-align: center;
  background-color: black;
  color: #ab21d1;
  padding: 20px;
}
